
@media screen and (max-width: 600px) {
    .container {
        padding: 5px;
    }
  }

.container {
    padding: 10px 200px;
    border-radius: 4px;
}
  
.flex-container {
    display: flex;
    padding: 10px;
}






