
/*Theme*/

//Colors: 

$mainColor: #fff159;
$backgroundColor: #ebebeb;
$buttonColor: #3483fa; 
$cardColor: #fff;
$colorText: #999999;
$colorTitle: #313131;

//Fonts: 

$mainFontFamily: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;

//Size: 
$h1FontWeight: 30px; 
$h2FontWeight: 18px; 
$h3FontWeight: 22px; 
$h4FontWeight: 18px; 

$text1FontWeight: 20px; 
$text2FontWeight: 14px; 
$text3FontWeight: 11px; 
$text4FontWeight: 18x;



